DATABASE_URL="postgresql://postgres:postgres@localhost:5432/skinnavi_db?schema=public"

APP_ENV=development
APP_URL=http://localhost:3000

# App
NODE_ENV=local
APP_PORT=5432
APP_NAME=skinnavi
FE_APP_URL=http://localhost:5173

JWT_ACCESS_SECRETKEY=accessToken
JWT_ACCESS_EXPIRES=1d

JWT_ACTIVATE_SECRETKEY=activate
JWT_ACTIVATE_EXPIRES=1d

JWT_REFRESH_SECRETKEY=refreshToken
JWT_REFRESH_EXPIRES=15d

JWT_EXPIRED_TIME=900

RESET_PASSWORD=resetPassword

BASE_BACKEND_PATH=storage/
STORAGE_LOCATED=LOCAL

# Cloudinary Configs
CLOUD_NAME=
CLOUD_KEY=
CLOUD_SECRET=

# Google Apps Script URL for uploading images to Google Drive
GOOGLE_APPS_SCRIPT_URL=

# Google Gemini API Key
GEMINI_API_KEYS=

# VNPAY Configurations
VNP_TMN_CODE=
VNP_HASH_SECRET=
VNP_URL=
VNP_RETURN_URL=
VNP_API_URL=
VNP_IPN_URL=
